button {
    color: black;
    background-color: ghostwhite;
    border-radius: 4px;
    transition: ease-in .04;
    outline: none;
}

button:hover {
    color: white;
    background-color: cornflowerblue;
    border-radius: 4px;
    outline: none;
}

.transform {
    transition-duration: 1s;
}
  
.transform:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
}
